body {
    font-family: sans-serif;
    color: #444543;
    background: #ffffff;
}

.header-bar {
    padding: 16px;
    background: #444543;
    color: #ffffff;
}

.header-bar-logo {
    height: 24px;
}

.header-bar-options {
    line-height: 24px;
    vertical-align: middle;
    float:right;
    font-size: 16px;
    font-weight: 700;
}

#login {
position: absolute;
}

#labelSearch {

}



h1 {
    color: #1e90b4;
    font-size: 20px;
    font-weight: 400;
    margin-left: 16px;
}

h2 {
    color: #1e90b4;
    font-size: 16px;
    font-weight: 800;
    margin-left: 16px;
}
.messagesArea{
    display:flex; 
}

/* Asif code: */
.message {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 32px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 9px;
    justify-content:space-between;
}

#replyContainer {
    margin-top: 15px;
    margin-left: 15px; 
}

/* Asif code: */
.reply {
    margin-left: 32px;
    margin-right: 16px;
    margin-top: 1px;
    border-bottom:  1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    width: auto;
}

.message-footer {
    font-size: 12px;
    font-style: italic;
    text-align: right;
}

.entry-form {
    margin-left: 32px;
    margin-right: 16px;
}

.entry-form-footer {
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 8px;
    text-align: right;
}

textarea {
    width: 100%;
    margin-top: 8px;
    font-family: sans-serif;
    border-radius: 5px;
}

button {
    height: 32px;
    width: 128px;
    background: #9ccb3b;
    color: #ffffff;
    font-weight: 700;
    border-style: double;
    border-radius: 50px;
}

.button:hover {
    background-color: green;
    color: white;
  }

/* Asif code: */
.buttonss {
    height: 20px;
    width: 50px;
    background: #9ccb3b;
    color: #ffffff;
    font-size: x-small;
    font-weight: 10;
    border-style: double;
    border-radius: 50px;
    /* display: table-cell;
    vertical-align: middle; */
    text-align: center;
    /* position: relative;
    left: 550; */
}

.buttonss:hover {
    background-color: green;
    color: white;
  }

#replyMessageButton {
    height: 32px;
    width: 128px;
    background: #9ccb3b;
    color: #ffffff;
    font-weight: 700;
    border-style: double;
    border-radius: 50px;
    text-align: center;
}

#replyMessageButton:hover{
    background-color: green;
    color: white;
  }

#replyMessageButton:disabled {
    height: 32px;
    width: 128px;
    background: #aaaaaa;
    color: #eeeeee;
    font-weight: 700;
    border-style: double;
    border-radius: 50px;
}

#postMessageButton {
    height: 32px;
    width: 128px;
    background: #9ccb3b;
    color: #ffffff;
    font-weight: 700;
    border-style: double;
    border-radius: 50px;
    text-align: center;
}

#postMessageButton:hover{
    background-color: green;
    color: white;
  }

#postMessageButton:disabled {
    height: 32px;
    width: 128px;
    background: #aaaaaa;
    color: #eeeeee;
    font-weight: 700;
    border-style: double;
    border-radius: 50px;
}

/* button:disabled {
    height: 32px;
    width: 128px;
    background: #aaaaaa;
    color: #eeeeee;
    font-weight: 700;
    border-style: double;
    border-radius: 50px;
} */